
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
}
h1 {
    color: #333;
}
.nav-linke{
    list-style-type: none;
    padding: 0;
}
.nav-linke li{
    margin-bottom: 10px;
}
.nav-linke a{
    text-decoration: none;
    color: #007bff
}
.module-list {
    list-style-type: none;
    padding: 0;
}
.module-list li {
    margin-bottom: 10px;
}
.module-list li a {
    text-decoration: none;
    color: #cfd6de;
}
.module-actions {
    margin-top: 20px;
}
.module-actions a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
}
.module-actions a:hover {
    background-color: #27b300;
}
.completed {
    background-color: #c9f7d5;
    border: 1px solid #4caf50;
    color: #4caf50;

}
.profile-box {
    display: flex;
    align-items: center;
}

.profile-box img {
    width: 100px; 
    height: 100px; 
    border-radius:200%; 
    margin-right: 10px;
}